<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimal Flask App</title>
</head>
<body>
    <h1>Привет!!</h1>
    <p>Это наш сайт</p>
    <div style="text-align: center">
        <img src="{{ url_for('static', filename='uploads/chair.jpg') }}" style="width: 100%, height= auto"/>
    </div>
    <table border=1>
        {% for key, item in result.items() %}
        <tr>
            <th> {{ key }}</th>
            <th> {{ item }}</th>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
